:root{
    --main-clr:#65a30d;
    --st-sub-clr:#d9f99d;
    --nd-sub-clr:#f7fee7;
    --rd-sub-clr:#a3e635;
    --font-main:18px;
    --font-lrg:16px;
    --font-mid:14px;
    --font-sml:12px;
}
*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    display: grid;
    grid: auto 1fr / 1fr 4fr;
    grid-template-areas: 
    "menu header"
    "menu article";
}

div{
    border: 1px solid rgba(0, 0, 0, 0);
}
p{
    white-space: normal;
}
.header{
    display: grid;
    align-items: center;
    justify-items: center;
    grid: repeat(2, 1fr) / 1fr ;
    font-size: var(--font-sml);
    grid-area: header;
    background-color: #ffffff;
    box-shadow: 5px 5px 20px 0px  rgb(161, 157, 157);
    grid-template-areas: 
    "tp"
    "bt";
    padding-bottom: 15px;

}
.header .top{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-area: tp;
    grid:  max-content 
    / repeat(14, 1fr);
    grid-template-areas: ". s sb sb sb sb sb sb . . no pp ac ." ;
    gap: 20px;
}
.header .bottom{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-area: bt;
    grid: 1fr / repeat(14, 1fr) ;
    gap: 20px;
    grid-template-areas: 
    ". bpp gr . . . . . . . n u sh .";
    
}
.search{
    grid-area: s;
    width: 30px;
    height: 30px;
}
.searchbar{
    grid-area: sb;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: var(--st-sub-clr);

}
.notification{
    grid-area: no;
    width: 30px;
    height: 30px;
}
.pp{
    grid-area: pp;
    width: 50px;
    height: 50px;
    
}
.account{
    grid-area: ac;
    white-space: nowrap;
    font-size: var(--font-lrg);
}
.bigpp{
    grid-area: bpp;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
    
}
.bigpp > img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.pp > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.greet{
    display: grid;
    grid: 1fr 1fr / 1fr ;
    grid-area: gr;
    gap: 15px;
    font-size: var(--font-mid);
}

.profile{
    white-space: nowrap;
    font-size: var(--font-main);
}
.new{
    grid-area: n;
}
.upload{
    grid-area: u;
}
.share{
    grid-area: sh;
}
button{
    background-color: var(--main-clr);
    border: 1px solid rgba(6, 37, 104, 0);
    padding: 5px;
    
}
.projects .prj button{
    color: #ffffff;
    font-size: var(--font-mid);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-weight: 900;
    box-shadow: 0px 0px 10px 2px var(--rd-sub-clr);
}
.projects .prj button img{
    filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(207deg) brightness(107%) contrast(102%);
    position: relative;
}
.projects .prj button img::before{
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: aqua;
    z-index: 15658;
}
.bottom button{
    color: #ffffff;
    font-size: var(--font-mid);
    width: 100px;
    height: 40px;
    border-radius: 15px;
    font-weight: 900;
    box-shadow: 0px 0px 10px 2px var(--rd-sub-clr);
    

}
.menu {
    grid-area: menu;
    background-color: var(--main-clr);
    color: #ffffff;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: left;
    justify-content: space-around;
    grid: repeat(auto-fit, minmax(0px, max-content)) / 1fr;
    padding: 30px 0px 0px 30px;
    gap: 50px;
    font-size: var(--font-lrg);
    
}
.menu > div > div > div{
width: 30px;
height: 30px;
color: #f7fee7;
}
.menu .dash{
    display: grid;
    grid: 1fr / auto auto;
    font-size: var(--font-main);
}
.menu .dash > div {
    width: 50px;
    height: 50px;
}

.menu div img {
    filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(207deg) brightness(107%) contrast(102%);
    width: 100%;
    height: 100%;

}
.menu > div{
    display: grid;
    grid: repeat(auto-fit, minmax(0px, auto)) / 1fr;
    gap: 15px;
    align-items: center;
    justify-items: start;
}
.menu-user{
    justify-self: flex-start;

}
.menu > div > div{
    display: grid;
    grid: 1fr / auto auto;
    gap: 15px;
    align-items: center;
}
.article{
    grid-area: article;
    background-color:var(--st-sub-clr);
    width: 100%;
    height: auto;
    display: grid;
    grid:
    "prj an" auto
    "prj tr" auto
    / 1fr auto;
    white-space: pre-line;
    padding: 30px;
    gap: 30px;
    
}
.projects{
    display: grid;
    grid: auto 1fr / 1fr;
    grid-area: prj;
    gap: 15px;
}
.project-list > .prj {
    display: grid;
    grid: auto max-content / 1fr;
    background-color: rgb(255, 255, 255);
    border-left: 10px solid var(--rd-sub-clr);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 5px 5px 20px 0px rgb(161, 157, 157);
    font-size: var(--font-lrg);
}
.project-list .prj.buttons {
    display: grid;
    grid: 1fr / 1fr;
    grid-auto-flow: column;
    justify-items: end;
    gap: 20px;
    
}


.prj p{
    max-height: 10ch;
    max-width: 40ch;
    overflow: hidden;
}
.prj.text{
    display: grid;
    padding-bottom: 30px;
}
.project-list {
    display: grid;
    grid: repeat(auto-fit, minmax(0px, auto)) / repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.announcements{
    display: grid;
    grid: auto 1fr / 1fr;
    grid-area: an;
    gap: 15px;
    font-size: var(--font-mid);   
}
.topics {
    display: grid;
    grid: repeat(auto-fit, minmax(0px,max-content)) / 1fr;
    font-size: var(--font-sml);
    gap: 10px;
    align-items: center;
    justify-content:center;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 20px 0px rgb(161, 157, 157);
    padding: 30px;
    
}
.topics > div {
    display: grid;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--rd-sub-clr);
}
.announcements div {
    width: fit-content;
    height: auto;
}
.announcements p {
    max-height: 10ch;
    max-width: 40ch;
    overflow: hidden;
}
.trending{
    display: grid;
    grid: repeat(auto-fit, minmax(0px,max-content)) / 1fr;
    grid-area: tr;
    gap: 15px;
    font-size: var(--font-mid);
}
.trends{
    display: grid;
    grid: repeat(auto-fit, minmax(0px,max-content)) / 1fr;
    gap: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 20px 0px rgb(161, 157, 157);
    border-radius: 10px;
    padding: 30px;
    font-size: var(--font-sml);
}
.trends .person {
    display: grid;
    grid: "pp detail" max-content / max-content;
    gap: 15px;
    align-items: center;

}
.trends .person .detail{
    display: grid;

}
